<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257065909973-lefusafkitamj06rboori85afank11dj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257065909973-lefusafkitamj06rboori85afank11dj</string>
	<key>API_KEY</key>
	<string>AIzaSyAQOfSHdYvyO9tCXd6Fq86OYEGMKneDVzk</string>
	<key>GCM_SENDER_ID</key>
	<string>257065909973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lynrix.trader</string>
	<key>PROJECT_ID</key>
	<string>lynrix-9f8ba</string>
	<key>STORAGE_BUCKET</key>
	<string>lynrix-9f8ba.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:257065909973:ios:d4f6a66a52ca141c9fac5c</string>
</dict>
</plist>
